.episode {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: #E0E0E0 1px solid;
}

.episode__name {
    flex: 1;
}

.episode__name-title {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

.episode__actions {
    padding-left: 15px;
}

.episode__actions__play-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
}

.episode__actions__play-img {
    width: 30px;
}