.app__header {
  background-color: #1848C6;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.app__header-title {
  margin: 0;
}

.app__header-logo {
  width: 200px;
}